google-chrome
google-chrome-canary
firefox
firefox-aurora
alfred
sizeup
droplr
iterm2
sublime-text3
dash
sequel-pro
dropbox
skype
qlcolorcode
qlstephen
qlmarkdown
quicklook-json
qlprettypatch
quicklook-csv
betterzipql
webp-quicklook
suspicious-package
